<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
</head>
<body>
    <form action = "back" method = "get">

    <h2>Contact List:</h2>

    <% for (let i=0; i < guestInfo.length; i++) { %>
        <p><%= guestInfo[i].fname %> <%= guestInfo[i].lname %> <%= guestInfo[i].email %></p>
        <hr>
    <% } %>


    <br><br>
    <button id = "back" type="submit">Go Back</button><br>
    </form>
</body>
</html>