<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <form action = "back" method = "get">

    <h1>Thank You for your submission <%= contact.fname %> <%= contact.lname %></h1>

    <h3 class="timestamp">Time of Submission: <%= contact.timestamp.toLocaleString() %></h3>

    <h4>Home Page: </h4>
    <button id = "navigate" type="submit">Go Back</button><br>
    </form>

<form action = "admin" method = "get">
    <h4>Admin Page:</h4>
    <button id = "contactList" type = "submit">Go Back</button>
</form>


</body>
</html>